<!DOCTYPE html>
<html class="h-full">
<head>
    <meta charset="UTF-8">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>{% block title %}Letroute - narzędzie do planowania tras{% endblock %}</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B091DDS5SK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-B091DDS5SK');
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5090101079097250"
            crossorigin="anonymous"></script>

    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <style>

    </style>
</head>
<body>
<nav class="flex-1 flex items-center justify-between flex-wrap bg-teal-500 p-6 h-20">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
        <span class="font-semibold text-xl tracking-tight">Letroute</span>
    </div>
    <div>
        <a href="" class="text-white font-bold hover:text-teal-800 mx-2">O nas</a>
        <a href="" class="rounded-md bg-white font-bold hover:text-teal-500 p-2 mx-2"><span class="p-4 text-teal-800 hover:text-teal-500">Zaloguj się</span></a>
    </div>
</nav>
<div class="flex-1 flex flex-col">
    {% block body %}

    {% endblock %}
</div>
</body>
</html>
