{% extends 'home/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container px-4">
        <div class="flex p-16">
            <div class="flex-1">
                <h1 class="font-extrabold text-xl">Wiemy jak wygenerować szybko trasy</h1>
                <h2>Aplikacja generująca trasy</h2>
            </div>
            <div class="flex-1">
                <h1>Home</h1>
                <p>Home page</p>
            </div>

        </div>
    </div>
{% endblock %}
