{% extends 'home/base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div class="bg-teal-50 h-[40rem]">
        <form action="{{ path('app_login') }}" method="post">
            <div class="bg-white border w-1/2 rounded-xl mx-auto my-20 flex-col">
                <div class="header flex-1 p-4 rounded-t-xl border-bottom bg-teal-600">
                    <h1 class="text-2xl font-bold text-white">Logowanie</h1>
                </div>
                <div class="body flex-1 p-6">
                    <div class="email">
                        <label for="username">Email</label>
                        <input type="username" name="_username" id="email" value="{{ last_username }}" class="border rounded-xl p-2 w-full">
                        {% if error %}
                            <div class="text-red-300 text-sm"><span class="text-red-300">{{ error.messageKey|trans(error.messageData, 'security') }}</span></div>
                        {% endif %}
                    </div>
                    <div class="password mt-2">
                        <label for="password">Hasło</label>
                        <input type="password" name="_password" id="password" class="border rounded-xl p-2 w-full">
                    </div>
                </div>
                <div class="footer flex-1 p-5 w-full">
                    <button type="submit" class="bg-teal-600 text-white rounded-xl p-2">Zaloguj</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
