{% extends 'base.html.twig' %}

{% block title %}Hello SetController!{% endblock %}

{% block body %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet'/>
    <div class="flex flex-row h-full gap-2" x-data="{ placeholder: 'Type here...' }">
        <div class="flex flex-row basis-1/2 h-full gap-2">
            <div class="sets basis-1/3">
                <div class="w-full rounded text-center bg-gray-100 p-3">Zbiory</div>
                {% for set in sets %}
                <div x-on:click="alert('test')" class="border-b-2 hover:bg-teal-100">{{ set.name }}</div>
                {% endfor %}
                <button><strong x-text="placeholder"></strong></button>
            </div>
            <div class="points basis-1/3"><div class="w-full rounded text-center bg-gray-100 p-3">Punkty</div></div>
            <div class="routes basis-1/3"><div class="w-full rounded text-center bg-gray-100 p-3">Trasy</div></div>
        </div>
        <div id="map" class="h-full basis-1/2 rounded"></div>
    </div>

    <script>
        mapboxgl.accessToken = "pk.eyJ1Ijoia2N6ZXJlY3pvbiIsImEiOiJja29zdmZpM3YwNWhqMndvYWphemc0MDBoIn0.i558tTzbzGDUtvye0cYfcw";
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v12',
            center: [19.0, 52.0],
            zoom: 5
        });

        function handleClick(e) {
            alert(e);
        }
    </script>
{% endblock %}
